/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 910px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

/* Form Header Styles */
h1, h2 {
    color: #333;
}

h1 {
    margin-bottom: 20px;
}

/* Label Styles */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Input Styles */
input[type="text"], input[type="date"], textarea {
    width: 100;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    box-sizing: border-box;

}
.table_cont{
    overflow:scroll;
}

textarea {
    height: 80px;
    resize: vertical;
}

input[type="file"] {
    margin-top: 10px;
    font-size: 15px;
    border: none;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 10px;
    
    
}


th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Button Styles */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Additional Styles */
.activity_details td {
    vertical-align: top;
    padding-bottom: 0;
    
}

button[type="button"] {
    background-color: #28a745;
}
button.deleteRow {
    background-color: #dc3545; /* Red color for delete button */
}
.add {
    color: white;
}

button[type="button"]:hover {
    background-color: #218838;
}

button[type="submit"] {
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd; /* Optional: Adds a border for visibility */
    padding: 8px; /* Optional: Adds padding inside cells */
    text-align: left; /* Optional: Aligns text to the left */
  }
  
th:nth-child(1),td:nth-child(1){
    min-width: 100px;
}
th:nth-child(2),td:nth-child(4){
    min-width: 80px;
}
th:nth-child(3),td:nth-child(4){
    min-width: 100px;
}

th:nth-child(4),td:nth-child(4){
    max-width: 80px;
}

td{
    overflow-x: scroll;
}

::-webkit-scrollbar{
    height: 1px;
}